<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for adopting a Pet!</h1>
    <p>Pet Type: <%= details.pet_type %></p>
    <p>Quantity: <%= details.quantity %></p>
    <p>Color: <%= details.color %></p>
</body>
</html>