<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Page</title>
</head>
<body>
    <h1>Adopt a pet here!</h1>
    <form action="/confirm" method="POST">
        <label for="pet_type">What type of pet would like?</label>
        <input type="text" id="pet_type" name="pet_type"><br>
        <label for="quantity">Quantity: </label>
        <input type="number" id="quantity" name="quantity"><br>
        <label for="color">Color: </label>
        <input type="text" id="color" name="color"><br>
        <button type="submit">Submit Order</button>
    </form>
</body>
</html>